/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

  /* General Styles */
html {
  font-size: 16px;
}


body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}


ul, ol {
  list-style-type: none;
}


a {
  color: #e2e3ed;
  text-decoration: none;
}


h2 {
  font-family: 'Poppins', sans-serif;
  font-size: ;
}


h3, h4 {
  font-family: 'Poppins', sans-serif;
}


p {

}


img {

}


figure {

}


address {
  font-style: normal;
}


.content-wrapper {

}






   /* -------- Base Header - Footer Styles -------- */
header, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

header {
  padding: 15px 0;
}


header img {
  max-width: 100%;
  height: auto;
}

.header-divider {
  width: 100%;
}

header .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
}

header nav {
  display: flex;
  justify-content: center;
  width: 60%;
}


header nav ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-around;
  padding: 0;
}


/* ------- MAIN -------- */
.hero-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-area h1 {
  display: flex;
  flex-flow: row wrap;
  margin-left: 20px;
}


aside .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.form {
  display: flex;
  flex-flow: column;
  margin: 0 20px;
}


.form input {
  margin-bottom: 15px;
}


.features {
  display: flex;
  justify-content: center;
  align-items: center;
}

.features-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}


.features-items img {
  margin: 20px 0;
}


.features article {
  width: 95%;
  margin: 15px 0;
}


.features h2 {
  width: 85%;
  margin: 30px 20px;
}


.reviews {
  display: flex;
}

.reviews h3 {
  display: flex;
  width: 80%;
}

.content-wrapper h3, p {
  margin: 10px 20px;
  display: flex;
  justify-content: center;
}


.reviews .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}


.previous-year2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}


.previous-year1 p {
  display: flex;
  justify-content: center;
  padding: 30px 20px ;
}


footer {
  display: flex;
  justify-content: center;
}


footer .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

footer .social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  margin: 0;
}


footer .contact {
  display: flex;
  justify-content: center;
}

footer h4 {
  text-align: center;
}


footer .footer-content {
  width: 100%;
}

footer .social-icons {
  display: flex;
}

footer .social-icons p {
  margin: 10px;
}

footer .contact p {
  display: flex;
  justify-content: center;
}


.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 10px;
}


/* ---- ABOUT ----- */

.mission {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.mission h4 {
  margin: 15px 20px;
}

.map {
  display: flex;
  justify-content: center;
}

.contact-section {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.contact-section .contact h4 {
  text-align: center;
}


.contact-section h3 {
  margin: 20px 20px;
}


/* ----- FAQ ----- */

.faqs .content-wrapper {
  display: flex;
  flex-flow: wrap;
  margin: 0 20px;
}

.faq-content h5 {
  margin: 0 20px;
}

.faqs h2 {
  margin: 20px 20px;
}

.faq-content div {
  margin: 30px 0;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  /* Tablet styles here */
  /* General styles */
  .content-wrapper {
    max-width: 768px;
    /* margin: 100px 0; */
  }

  /* HEDAER */
  header {
    display: flex;
    margin: 0;
    width: 100%;
  }

  header .content-wrapper {
    width: 100%;
    display: flex;
    flex-flow: row;
    margin-left: 80px;
  }

  

  header nav {
    width: 83%; /* 640px/768px */
    margin: 0;
    display: flex;
  }

  header nav ul {
    width: 22%; /* of/768px */
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-left: 200px;
  }

  .header-divider {
    display: none;
  }

  /* HERO AREA */
  .hero-area {
    width: 100%;
  }

  .hero-area .content-wrapper {
    width: 100%;
  }

  .hero-area h1 {
    width: 69.3%; /* 532px/768px */
    display: flex;
    justify-content: center;
    margin: 0 80px;
  }

  /* ASIDE */

  aside {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  aside .content-wrapper {
    width: 50%;
    margin: 50px 0;
    padding-left: 60px;
  }

  aside .content-wrapper .form-description {
    display: flex;
    flex-flow: column;
  }

  aside .form {
    width: 50%;
    display: flex;
    padding-left: 70px;
    margin-bottom: 20px;
  }

  .form input {
    display: flex;
    width: 50%;
    padding: 3px;
  }

  button {
    display: flex;
    width: 54%;
  }

  .features h2 {
    display: flex;
    width: 83%;
    margin: 0 80px;
  }

  .features-items {
    display: flex;
    flex-flow: wrap;
    padding: 0 30px;
  }

  .features article {
    width: 50%;
  }

  .reviews .content-wrapper {
    width: 100%;
    display: flex;
    flex-flow: row;
    margin: 10px 65px;
  }

  .previous-year1 {
    display: flex;
    width: 50%;
    flex-flow: column;
  }

  .previous-year2 {
    width: 50%;
    display: flex;
  }

  footer .content-wrapper {
    width: 100%;
  }

  footer .footer-content {
    display: flex;
  }

  footer .contact {
    width: 50%;
  }

  footer .contact div {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0 90px 0;
    padding-right: 30px;
  }

  footer .social {
    width: 50%;
    display: flex;
    flex-flow: column;
  }

  .social-icons p {
    width: 25%;
    margin: 15px;
    padding-top: 30px;
  }

  .copyright {
    display: flex;
    margin-top: 40px;
  }


  /* ABOUT PAGE */
  .mission .content-wrapper {
    display: flex;
    width: 100%;
    flex-flow: column;
    align-items: center;
  }

  .mission-content {
    width: 100%;
    display: flex;
  }

  .mission-content div {
    width: 50%;
    margin: 10px 30px;
    text-align: justify;
  }

  .contact-section {
    display: flex;
    flex-flow: wrap;
  }


  .contact-section h3 {
    width: 100%;
    text-align: center;
    
  }


  .contact-section .content-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: wrap;
  }

  .content-wrapper .contact {
    width: 50%;
  }

  .content-wrapper .contact {
    text-align: center;
  }

  footer {
    margin-top: 60px;
  }


  /* FAQ PAGE */
  .faqs .content-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-flow: wrap;
  }

  .faq-content {
    display: flex;
    flex-flow: wrap;
  }

  .faqs h2 {
    text-align: center;
    width: 100%;
  }

  .faq-content div {
    display: flex;
    flex-flow: wrap;
    width: 50%;
  }

  .faq-content div p {
    display: flex;
    flex-flow: wrap;
    margin: 0 40px;
    padding: 0 40px;
  }

  .faq-content div h5 {
    padding: 0 80px;
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  /* Desktop styles here */
  .content-wrapper {
    max-width: 960px;
  }

  /* HERO AREA */

  .hero-area h1 {
    width: 69.2%;
  }


  /* ASIDE */
  aside {
    display: flex;
    width: 83.3%;
    padding-left: 80px;
    margin-left: 90px;
  }


  aside .content-wrapper {
    display: flex;
    
  }

  /* FEATURES */
  .features h2 {
    display: flex;
    width: 91.7%;
  }

  .features-items {
    display: flex;
    flex-flow: wrap;
  }

  .features-item-description {
    display: flex;
    flex-flow: wrap;
  }

  .features article {
    width: 33.3%;
    margin: 40px 0;
  }


  /* REVIEWS */
  .reviews {
    display: flex;
    justify-content: center;
  }


  .reviews .content-wrapper {
    display: flex;
    width: 100%;
  }

  /* ABOUT PAGE */
  .mission h4, .contact-section h3 {
    width: 91.7%;
  }

  .mission h4 {
    display: flex;
    justify-content: center;
  }

  /* FAQ PAGE */
  .faqs {
    display: flex;
    justify-content: center;
    width: 100%;
  }


  .faqs h2 {
    width: 100%;
  }

  .faqs .content-wrapper {
    display: flex;
  }
  

}




/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

